.footer-left {
  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-direction: column;
}

.logo-container {
  position: relative;
}

.footer-logo {
  width: 120px;
}

.footer-logo-circle {
  z-index: -1;
  top: -15px;
  left: 105px;
  position: absolute;
  width: 25px;
  height: 25px;
  background: linear-gradient(to right, rgb(247, 205, 100), rgb(223, 147, 16));
  border-radius: 50%;
}

.logo-container p {
  margin-top: 30px;
  font-size: 0.95rem;
  color: rgb(82, 82, 82);
  margin-left: 4.7px;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.footer-right-header {
  font-weight: 600;
  margin-right: 140px;
}

.footer-right-location {
  margin-bottom: 28px;
  margin-right: 88px;
  font-size: 0.9rem;
  color: rgb(88, 88, 88);
}

.footer-nav-container {
  display: flex;
}

.footer-nav-container h4 {
  font-size: 1rem;
  margin-right: 20px;
}

.footer-nav-container h4:hover {
  color: gray;
  cursor: pointer;
}

.footer-nav-container h4:nth-of-type(4) {
  margin-right: 0px;
}

@media only screen and (max-width: 990px) {
  .footer-right-location {
    margin-right: 0px;
  }
  .footer-right-header {
    margin-right: 0px;
  }
}

@media only screen and (max-width: 765px) {
  .logo-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer-logo-circle {
    left: 302px;
  }
  .logo-container p {
    margin-top: 10px;
  }
  .footer-right {
    margin-top: 35px;
    align-items: center;
    margin-bottom: 40px;
  }
  .footer-right-location {
    margin-bottom: 8px;
  }
}

@media only screen and (max-width: 500px) {
  .footer-left {
    margin-top: 90px;
  }
  .footer-logo-circle {
    left: 250px;
  }
}
